:root{
    --fundo :#332013;
    --cartao-frente: #14141b;
    --cartao-verso: #000000;
    --destaque: #4b4658;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;

}
#container{
    display: grid;
    gap: 5rem;
    padding: 20px;
}
.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 9px 9px 9px var(--preto);
    border: 1px solid var(--preto);
    border-radius: 10px;
    cursor: pointer;
}
.conteudo-cartao:hover{
    transform: scale(1.02);
}

.resposta-cartao{
    background-color: var(--cartao-verso);
    color: var(--branco);
    padding: 40px;
    margin-top: 15px;
}