:root{
    --fundo :#332013;
    --cartao-frente: #14141b;
    --cartao-verso: #000000;
    --destaque: #4b4658;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;

}
#container{
    display: flex;
    padding: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem;
    height: 20rem;
}
.conteudo-cartao{
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
transition: transform 300ms ease-in-out;    
}
.conteudo-cartao h3{
    color: var(--destaque);
    border: 1px solid var(--destaque);
    position: absolute;
    text-align: left;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.conteudo-cartao p{
    margin-top: 4rem;
    font-size: 1.4rem;
    padding: 2rem;
}
.pergunta-cartao{
    font-weight: 500;
}
.resposta-cartao{
    font-weight: 700;
    color: var(--destaque);
}
.cartao:active .conteudo-cartao{
    transform: rotateY(180deg);
}
.pergunta-cartao, .resposta-cartao{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.resposta-cartao{
    transform: rotateY(180deg);
    background-color: var(--cartao-verso);
    border: 2px solid var(--destaque);
}
#container{
    display: grid;
    gap: 5rem;
    padding: 20px;
}
.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 7px 7px 7px var(--preto);
}