:root{
    --fundo :#3d2b1f;
    --cartao-frente: #191970;
    --cartao-verso: #000000;
    --destaque: #FF0000;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;

}
#container{
    display: flex;
    padding: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem;
    height: 20rem;
}
.conteudo-cartão{
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
}
.conteudo-cartão h3{
    color: var(--destaque);
    border: 1px solid var(--destaque);
    position: absolute;
    text-align: left;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}